/* CSS Document */
*,
*::after,
*::before {
  box-sizing: border-box;

}

@font-face {
  font-family: 'smilingcactus';
  src: url(../font/MessySmilingCactus-Regular.ttf);
  font-style: normal;
  font-weight: 700;
}

body {
  background-color: #2e4a91;
  font-size: 1.25em;
  font-family: Arial,
    Helvetica,
    sans-serif;
  color: white;
}

/* Achtergrond video */
/* Bron: https://www.w3schools.com/howto/howto_css_fullscreen_video.asp */
.background {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
}

/*  Header  */

header {
  max-width: 100%;
}

header ul {
  list-style: none;
  display: flex;
  max-width: 100%;
  justify-content: space-between;
}


/*  logo   */
header ul li:first-child {
  max-width: 2.25em;
  position: relative;
  z-index: 100;
}


/*  Hamburgermenu streepjes */


header ul li:nth-child(2) {
  max-width: 2.25em;
  position: absolute;
  top: 3em;
  right: 2em;
  z-index: 100;
}

header ul li:nth-child(3) {
  max-width: 2.25em;
  position: absolute;
  top: 3.75em;
  right: 2em;
  z-index: 100;
}

header ul li:last-child {
  max-width: 2.25em;
  position: absolute;
  top: 4.5em;
  right: 2em;
  z-index: 100;
}

/*  Hiermee geef ik het hamburger menu plaatje een lengte en breedte.  */
header ul li:nth-child(2),
header ul li:nth-child(3),
header ul li:last-child {
  width: 50px;
  height: 20px;
  transition: 0.5s ease-in-out;
  transform-origin: left;
}

/*  Animatie kruisje  */
.kruisje1 {
  transform: rotate(35deg);
}

.kruisje2 {
  opacity: 0%;
}

.kruisje3 {
  transform: rotate(-35deg);
}





/***************/
/*    MAIN     */
/***************/

/* animatie images */

main img {
  width: 35%;
  position: absolute;

}

main img:nth-child(3) {
  bottom: -8em;
  left: 5em;
}



main img:nth-child(4) {
  bottom: -20em;
  left: 7em;
}

main img:nth-child(5) {
  bottom: -35em;
  left: 3em;
}



@keyframes merch {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(180deg);
    bottom: -15em;
    left: 3em;
  }

  100% {
    transform: rotate(0);
    bottom: -8em;
    left: 5em;
  }
}

main img:nth-child(3):hover {
  animation-name: merch;
  animation-duration: 2s;
}


@keyframes video {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(180deg);
    bottom: -15em;
    left: 9em;
  }

  100% {
    transform: rotate(0);
    bottom: -20em;
    left: 7em;
  }
}

main img:nth-child(4):hover {
  animation-name: video;
  animation-duration: 2s;
}


@keyframes shirt {
  0% {
    bottom: -35em;
    left: 3em;
  }

  25% {
    left: 9em;
  }

  50% {
    left: 3em;
  }

  75% {
    left: 9em;
  }

  100% {
    left: 3em;
  }
}

main img:nth-child(5):hover {
  animation-name: shirt;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}



/* h2 */

main h2 img {
  max-width: 75%;
  position: absolute;
  top: 6em;
  left: 1.5em;
  right: 2em;
  z-index: -50;
  width: 10em;
  height: 6em;
}


/*   Paragraaf   */
main p {
  font-family: 'smilingcactus';
  font-size: 3em;
  color: white;
  position: absolute;
  top: 4em;
  left: 1em;
}

main p:last-of-type {
  top: 5em;
  left: 2em;

}

/*  'buttons'   */

main section a:first-of-type,
main section a:nth-of-type(2) {
  border: 2px solid white;
  background: #e7b8cf;
  border-radius: 1em;
  text-align: center;
  position: absolute;
  padding: 8px 24px;
  font-size: 18px;
  left: 7em;
  bottom: 11em;
  color: white;
  text-decoration: none;
}

main section a:nth-of-type(2) {
  text-align: center;
  position: absolute;
  left: 6.3em;
  bottom: 8em;

}


main section a:hover {
  box-shadow: 5px 5px 10px darkblue;
}




/*   HAMBURGER NAV */
main nav ul {
  position: absolute;
  display: flex;
  flex-direction: column;
  list-style: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 1em;
  transform: translateX(-100%);
  background-color: #84b1e2;
  transition: 0.5s ease-in-out;

}

/*hiermee komt het menu te voorschijn*/
.nav {
  transform: translateX(0%);

}




/*   HAMBURGERMENU LI  */
/* De list items geef ik een padding om ze verder van elkaar af te zetten.*/
main nav ul li {
  padding: 0.75em;
  position: relative;
  top: 7em;

}


/*  Hiermee pas ik "newsletter" aan  */
main nav li:last-of-type {
  border: 2px solid white;
  background: #e7b8cf;
  border-radius: 1em;
  padding: 8px 24px;
  text-align: center;
  max-width: 8em;


}



main nav ul li a {
  color: white;
  text-decoration: none;
}



/************/
/*  FOOTER  */
/*************/

footer {
  display: flex;
  padding: 1.5em;
}



footer p {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 15px;
  position: absolute;
  bottom: -100em;
  left: 2em;

}

footer img {
  max-width: 50%;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -72em;
  left: 5em;

}

footer img:first-child {
  max-width: 80%;
  bottom: -71.5em;
  left: 2em;
}



/************/
/*  VIDEO`S  */
/*************/

section {
  display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  margin: 0.4em;
}

main section div video {
  max-width: 100%;
}

main section div:first-child {
  margin-top: 8em;
}

main section div:nth-child(2) {
  margin-top: 11em;
}

main section div:nth-child(3),
main section div:nth-child(5),
main section div:nth-child(7) {
  margin-top: 4em;
}

main section div:nth-child(4),
main section div:nth-child(6),
main section div:nth-child(8) {
  margin-top: 7em;
}


main section div h3 {
  font-size: 0.9em;
  margin: 0.2em;
  font-weight: 400;
  display: block;
  text-align: center;
}